@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body {
  @apply bg-white text-black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.snap-section {
  scroll-snap-align: start;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
